<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= form_tag users_path, method: 'get', id: "users_search" do %>
  <div style="position: relative;">
    <%= button_tag(type: "submit", name: nil, class: "search-btn", style: "position: absolute; right: 0px;") do %>
      <i class="icon-search"></i>
    <% end %>
    <div style="float:left; padding-top:5px; width: 100%;">
      <%= text_field_tag :users_search, params[:users_search], style: 'margin-bottom: 0px;', autocomplete: "off" %>
    </div>
  </div>
  
 <div id="users"><%= render 'users' %></div>
<% end %>