<% provide(:title, 'All boards') %>

<h1>All Boards</h1>
<p id="notice"><%= notice %></p>


<ul class="boards">
	<% @boards.each do |board| %>
    <li>
    	<table>
    		<tr>
		    	<td>
				    <h3><%= link_to board.title, board %></h3>
				  </td>
				  <td style="margin: 0 3px 0 0; padding: 5px; width: 38px; height: 38px; text-align: center;" >
				    <div><%= board.posts.count %></div>
				    <div>posts</div>
				  </td>
				</tr>
		  </table>
		</li>
	<% end %>
</ul>